html, body {
  width: 100px;
}

.button {
  margin: 3% auto;
  margin-left: 15px;
  padding: 2px;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
}

.format:hover {
  background-color: #CFF2F2;
}

.format {
  background-color: #E5F2F2;
}
